**/logs
**/logs/debug.log
*.log
*.log
!important.log
*.log
!important/*.log
trace.*
/debug.log
debug.log
debug?.log
debug[0-9].log	
debug[01].log
debug[!01].log	
debug[a-z].log	
logs
logs/
logs/
!logs/important.log
logs/**/debug.log
logs/*day/debug.log
logs/debug.log
Pipfile
.ipynb_checkpoints
.ipynb_checkpoints/
.DS_Store
.DS_Store?
random
random/
testing.py
Pipfile.*
*copy.py
